:root{
    --secondary-color: #ffc107;
    --grey-500: #6c757d;
    --grey-700: #474e55;
    --grey-900: #181818;
    --grey-800: #262626;
    --black: #000000;
    --light: #f8f9fa;
    font-family: Lato, "Lato Hairline", Arial, sans-serif; !important;
    color: var(--grey-900);
}

/*home-top-banner*/
.home-top-banner{
    background-color: var(--grey-700);
    color: white;
    text-align: center;
}

/*Drop down Menu*/
.main-category-menu .dropdown-toggle{
    /*padding-right: 0px;*/
}
.dropdown-item:active{
    background-color: var(--secondary-color);
    color: var(--grey-900);
}
.dropdown-item i{
    width: 10px;
}
.account-menu i{
    margin-right: 10px;
    color: var(--grey-500);
    font-size: 1em;
}
/*Dropdown Menu Products Categories */
.category-name{
    margin-top: 10px;
    padding-left: 5px;
}
.category-col{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.category-name,.category-item{
    background-color: transparent;
}
.category-item{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left:5px;
    font-size: 0.9em;
}
.category-name-link {
    margin-bottom: 2px;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    color: var(--grey-900);
    background-color: transparent;
}
.category-name-link:focus,
.category-name-link:hover{
    color: var(--grey-900);
}
.category-item-link{
    text-decoration: none;
    color: var(--grey-900);
}
.category-item-link:focus,
.category-item-link:hover{
    color: var(--grey-900);
}
.dropdown-menu .category-name:hover,
.dropdown-menu .category-name:focus{
    background-color: var(--light);
    color: var(--grey-900);
}
.dropdown-menu-category{
    min-width: 99vw;
}
.dropdown-menu-center{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.category-column{
    padding-right: 10px;
    padding-left: 0px;
}
    /*icons formatting*/
.fa-stack[data-count]:after{
    position:absolute;
    right:-10%;
    top:-10%;
    content: attr(data-count);
    font-size:50%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    text-align:center;
    min-width:2em;
    font-weight:bold;
    background: white;
    border-style:solid;
    color: #ffc107;
}
.main-menu-button{
    margin-right: 8px;
}
.fa-circle:link,
.fa-circle:visited{
    color: var(--grey-500);
}
.fa-circle:hover
{
    color: var(--grey-900);
}
.fa-circle:active{
    color: var(--secondary-color);
}
.form-control:focus{
    border-color: var(--secondary-color);
    box-shadow: 0px 1px 1px rgba(255, 193, 7, 0.05) inset, 0px 0px 8px rgba(255, 193, 7, 0.5);
}

/*margins and padding */
.margin-right-10{
    margin-right: 10px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-right-5{
    margin-right: 5px;
}
.padding-left-5{
    padding-left: 5px; !important;
}
/*Media queries */
@media only screen and (min-width: 992px){
    .account-menu{
        transform: translateX(-125px);
    }
}
@media (max-width: 992px) {
    .top-main-menu{
        margin-top: 10px;
    }
}

/*general text properties*/
.btn-link {
    border: none;
    text-decoration: none;!important
}
.btn:focus {
    box-shadow: none; !important;
}
/*list properties*/
.list-group-item{
   border: none;
}